@use '../../sass/var';

.ctaBtn {
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .5rem 1.2rem;
    font-size: 1.5rem;
    font-family: var.$font-heading;
    font-weight: 500;
    border-radius: 2px;
    transition: background-color .25s cubic-bezier(0.075, 0.82, 0.165, 1), color .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    background: none;
    display: inline-block;
    vertical-align: middle;
    &--bg {

        &--dark {
            background-color: var.$color-dark-3;
            &:hover {
                background-color: var.$color-dark-2;
                color: var.$color-grey
            }
        }
        &--primary {
            background-color: var.$color-primary;
            &:hover {
                background-color: darken($color: var.$color-primary, $amount: 20);
            }
        }
    }

    &--shadow {
        &--light {
            border: .15rem solid var.$color-light;
            color: var.$color-light;

            &:hover {
                background-color: var.$color-light;
                color: var.$color-dark;
            }
        }
        &--primary {
            border: .15rem solid var.$color-primary;
            color: var.$color-primary;

            &:hover {
                background-color: var.$color-primary;
                color: var.$color-light;
            }

        }
    }

}