@use "./var";
@use "./mixins";
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --scrollbar: 7.5px;
  --w-100vw: calc(100vw - var(--scrollbar));
}
#root {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: var.$font-body;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}
body {
  font-family: var.$font-body;
  font-weight: 400;
  font-size: var.$text-base;
  line-height: 1.4;
  color: var.$color-primary;
  @include mixins.bg-light;
}
::selection {
  background-color: var.$color-light-800;
  color: #000;
}

::-webkit-scrollbar {
  width: 5.5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(var.$color-dark, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: var.$color-primary-800;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}

button,
input,
textarea,
label {
  appearance: none;
  border: none;
  outline: none;
  font: inherit;
  background: none;
  user-select: none;
  color: inherit;
}

@media (hover: hover) and (pointer: fine) {
  body,
  body a,
  body button,
  body input,
  html,
  html a,
  html button,
  html input {
    cursor: none;
  }
}
