.flex {
  display: flex;

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--col {
    flex-direction: column;
  }

  &--justify-start {
    justify-content: flex-start;
  }
  &--justify-center {
    justify-content: center;
  }
  &--justify-between {
    justify-content: space-between;
  }
  &--justify-evenly {
    justify-content: space-evenly;
  }
  &--justify-end {
    justify-content: flex-end;
  }

  &--align-start {
    align-items: flex-start;
  }
  &--align-center {
    align-items: center;
  }
  &--align-end {
    align-items: flex-end;
  }
  &--wrap {
    flex-wrap: wrap;
  }
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

.pos {
  &--relative {
    position: relative;
  }
  &--absolute {
    position: absolute;
  }
  &--fixed {
    position: fixed;
  }
  &--sticky {
    position: sticky;
  }
}

.top {
  &--0 {
    top: 0;
  }
  &--half {
    top: 50%;
    translate: 0 -50%;
  }
  &--full {
    top: 100%;
  }
}

.bottom {
  &--0 {
    bottom: 0;
  }
}

.left {
  &--0 {
    left: 0;
  }
  &--half {
    left: 50%;
    translate: -50% 0;
  }
  &--full {
    left: 100%;
  }
}

.right {
  &--0 {
    right: 0;
  }
}

.width {
  &--100 {
    width: 100%;
  }
  &--80 {
    width: 80%;
  }
  &--75 {
    width: 75%;
  }
  &--50 {
    width: 50%;
  }
  &--30 {
    width: 33.33333%;
  }
}

.height {
  &--100 {
    height: 100%;
  }
}
