@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin ellipseBg {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -5rem;
    top: 0;
    border-radius: 632px;
    z-index: -1;
    filter: blur(200.5px);
    border-radius: 50%;
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em){ @content }; // 600px
    }
  
    @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em){ @content };  // 900px
    }
  
    @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em){ @content }; // 1200px
    }
  
    @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em){ @content }; // 1800px
    }
  }
