@use "./var";
@use "./mixins";
.pad {
  &--x-lg {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
    @include mixins.respond(tab-port) {
      padding-left: 3.2rem;
      padding-right: 3.2rem;
    }
    @include mixins.respond(phone) {
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }
  }
  &--x-md {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    @include mixins.respond(phone) {
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }
  }
  &--x-sm {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  &--x-xs {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }

  &--l-lg {
    padding-left: 4.8rem;
  }
  &--l-md {
    padding-left: 3.2rem;
  }
  &--l-sm {
    padding-left: 1.6rem;
  }
  &--l-xs {
    padding-right: 0.8rem;
  }

  &--r-lg {
    padding-right: 4.8rem;
  }
  &--r-md {
    padding-right: 3.2rem;
  }
  &--r-sm {
    padding-right: 1.6rem;
  }
  &--r-xs {
    padding-left: 0.8rem;
  }

  &--y-lg {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  &--y-md {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }
  &--y-sm {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
  }
  &--y-xs {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }
  &--y-1 {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
  &--y-05 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  &--t-1 {
    padding-top: 0.8rem;
  }
  &--t-2 {
    padding-top: 1.6rem;
  }
  &--b-05 {
    padding-bottom: 0.4rem;
  }
}

.mar {
  &--x-lg {
    margin-left: 4.8rem;
    margin-right: 4.8rem;
  }
  &--x-md {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
  }
  &--x-sm {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
  &--x-xs {
    margin-right: 0.8rem;
    padding-left: 0.8rem;
  }
  &--y-lg {
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
  }
  &--y-md {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }
  &--y-sm {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }
  &--y-xs {
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
  }
  &--y-1 {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  &--y-05 {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
  &--l-lg {
    margin-left: 4.8rem;
  }
  &--l-md {
    margin-left: 3.2rem;
  }
  &--l-sm {
    margin-left: 1.6rem;
  }
  &--l-xs {
    margin-right: 0.8rem;
  }

  &--r-lg {
    margin-right: 4.8rem;
  }
  &--r-md {
    margin-right: 3.2rem;
  }
  &--r-sm {
    margin-right: 1.6rem;
  }
  &--r-xs {
    margin-left: 0.8rem;
  }

  &--y-lg {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  &--y-md {
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;
  }
  &--y-sm {
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
  }
  &--y-xs {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }
  &--y-1 {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
  &--y-05 {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  &--t-1 {
    margin-top: 0.8rem;
  }
  &--t-2 {
    margin-top: 1.6rem;
  }
  &--t-3 {
    margin-top: 2.4rem;
  }
  &--t-4 {
    margin-top: 3.4rem;
  }
  &--t-5 {
    margin-top: 4.8rem;
  }
  &--b-1 {
    margin-bottom: 0.8rem;
  }
  &--b-2 {
    margin-bottom: 1.6rem;
  }
  &--b-3 {
    margin-bottom: 2.4rem;
  }
  &--b-4 {
    margin-bottom: 3.2rem;
  }
}

.gap {
  &--x-1 {
    row-gap: 0.8rem;
  }
  &--x-2 {
    row-gap: 1.6rem;
  }
  &--x-3 {
    row-gap: 2.4rem;
  }
  &--x-4 {
    row-gap: 3.2rem;
  }

  &--y-1 {
    column-gap: 0.8rem;
  }
  &--y-2 {
    column-gap: 1.6rem;
  }
  &--y-3 {
    column-gap: 2.4rem;
  }
  &--y-4 {
    column-gap: 3.2rem;
  }

  &--05 {
    gap: 0.4rem;
  }
  &--1 {
    gap: 0.8rem;
  }
  &--2 {
    gap: 1.6rem;
  }
  &--3 {
    gap: 2.4rem;
  }
  &--4 {
    gap: 3.2rem;
  }
  &--5 {
    gap: 4rem;
  }
}
.overflow {
  &--hidden {
    overflow: hidden;
  }
  &--visible {
    overflow: visible;
  }
}

.border {
  &--t-1 {
    border-top: 1px solid var.$color-dark-1;
  }

  &--rad-1 {
    border-radius: 0.8rem;
  }
  &--rad-2 {
    border-radius: 1.6rem;
  }
  &--rad-3 {
    border-radius: 2.4rem;
  }
  &--rad-4 {
    border-radius: 3.2rem;
  }
  &--rad-full {
    border-radius: 9999px;
  }
}

.z {
  &--minus {
    z-index: -2;
  }
  &--2 {
    z-index: 2;
  }
  &--full {
    z-index: 99;
  }
}

.opacity {
  &--05 {
    opacity: 0.05;
  }
  &--2 {
    opacity: 0.2;
  }
  &--5 {
    opacity: 0.5;
  }
  &--7 {
    opacity: 0.7;
  }
  &--8 {
    opacity: 0.8;
  }
  &--85 {
    opacity: 0.85;
  }
  &--9 {
    opacity: 0.9;
  }
}

.pointer-events {
  &--none {
    pointer-events: none;
  }
}

.vertical {
  &--middle {
    vertical-align: middle;
  }
}

.backdrop {
  &--05 {
    backdrop-filter: blur(4px);
  }
  &--1 {
    backdrop-filter: blur(8px);
  }
  &--2 {
    backdrop-filter: blur(16px);
  }
  &--3 {
    backdrop-filter: blur(24px);
  }
  &--4 {
    backdrop-filter: blur(32px);
  }
}

.bg-clip {
  &--box {
    background-clip: content-box;
  }
}
