@use "./var";
@use "./mixins";

.pad {
  &--x-lg {
    padding-left: var.$gap-6;
    padding-right: var.$gap-6;

    @include mixins.respond(tab-port) {
      padding-left: var.$gap-4;
      padding-right: var.$gap-4;
    }
    @include mixins.respond(phone) {
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
  }

  &--y-lg {
    padding-top: var.$gap-7;
    padding-bottom: var.$gap-7;
  }
}

.mar {
  &--x-lg {
    margin-left: var.$gap-6;
    margin-right: var.$gap-6;

    @include mixins.respond(tab-port) {
      margin-left: var.$gap-4;
      margin-right: var.$gap-4;
    }
    @include mixins.respond(phone) {
      margin-left: 2.4rem;
      margin-right: 2.4rem;
    }
  }

  &--y-lg {
    margin-top: var.$gap-7;
    margin-bottom: var.$gap-7;
  }
}
