$color-dark: #212738;
$color-dark-2: #3E4660;

$color-light: #EDF2EF;
$color-grey: #babec7;

$color-primary: #EC7357;
$color-accent: #57B8FF;
$color-success: #1D7874;
$font-body: 'Open Sans', sans-serif;
$font-heading: 'Raleway', sans-serif;



// $color-primary-2: hsl(204, 99%, 53%);
// $color-primary-3: hsl(204, 99%, 36%);
// $color-primary-dark: hsl(204, 99%, 25%);

// $color-purple: hsl(4, 99%, 66%);
// $color-purple-2: hsl(4, 99%, 86%);
// $color-purple-3: hsl(4, 99%, 98%);
// $color-purple-dark: hsl(4, 62%, 66%);

// $color-success: hsl(162, 95%, 34%);
// $color-success-dark: #038c63;

// $color-warning: #F75C03;

// $linear-gradient: linear-gradient(rgba($color-primary, .2),rgba($color-purple-2, .05));
// $linear-gradient-2: linear-gradient(rgba($color-primary-dark, .2),rgba($color-purple-dark, .1));
// $linear-card: linear-gradient(159deg, rgba($color-purple-3, .05) 12.1%, rgba($color-primary-dark, .05) 86.3%, $color-dark);

// $shadow-btn: 0 2px 50px 0 $color-primary-2;
// $shadow-xl: 10px 15px 50px rgba($color-primary-2, .68);

