@use "../../sass/var";

.btn {
  position: relative;
  appearance: none;
  border: none;
  cursor: pointer;
  background: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: 1.6rem;
  line-height: 1;
  &:disabled {
    opacity: 0.7;
  }
  &--bg,
  &--shadow {
    min-width: 12rem;
    height: 4rem;
    padding: 1.2rem;
    border-radius: 5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  &--shadow {
    border: 0.15rem solid;

    &--primary {
      border-color: var.$color-primary;
      color: var.$color-primary;
      &:hover {
        background-color: var.$color-light;
        color: var.$color-dark;
        border-color: var.$color-light;
      }
    }
    &--light {
      border-color: var.$color-light;
      &:hover {
        background-color: var.$color-primary;
        color: var.$color-dark;
        border-color: var.$color-primary;
      }
    }
  }
  &--bg {
    color: var.$color-dark;
    &--primary {
      background-color: var.$color-primary;
      background: var.$color-primary;
      box-shadow: var.$input-handle-shadow;
    }
    &--light {
      background-color: var.$color-light;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  // &--bg {
  //   min-width: 12rem;
  //   height: 4rem;
  //   color: #fff;
  //   padding: 1.2rem;
  //   border-radius: 3rem;
  //   background: rgba(var.$color-dark, 0);
  //   box-shadow: var.$input-handle-shadow;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     inset: 0;
  //     left: -0.1rem;
  //     top: -0.1rem;
  //     margin: auto;
  //     width: calc(100% + 0.1rem);
  //     height: calc(100% + 0.1rem);
  //     border-radius: 3rem;
  //     // background: rgba($color: var.$color-primary, $alpha: 0.2);
  //     pointer-events: none;
  //     transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  //     z-index: -10;
  //     overflow: hidden;
  //   }
  //   &::after {
  //     content: "";
  //     z-index: -1;
  //     position: absolute;
  //     inset: 0;
  //     background: var.$btn-linear-reverse;
  //     transform: translate3d(0, 0, 0) scale(0.95);
  //     border-radius: 3rem;
  //     // filter: blur(10px);
  //   }

  //   &:hover::after {
  //     filter: blur(5px);
  //   }
  //   &:hover::before {
  //     scale: 0.95;
  //   }
  //   &:active {
  //     scale: 0.9;
  //   }
  // }
  // &--link {
  //   position: relative;
  //   display: inline-flex;
  //   gap: 0.4rem;
  //   align-items: center;
  //   &::after {
  //     content: "\2192";
  //     font: inherit;
  //   }
  //   &:hover {
  //     gap: 0.6rem;
  //     opacity: 0.8;
  //   }
  // }
}
