@use '../../sass/var';
@use '../../sass/mixins';

.calculatorWrap {
    // background: linear-gradient(180deg, rgba(darken(var.$color-accent, 20%), 0.20) 0%, rgba(var.$color-dark-3, 0.50) 100%);
    background-color: rgba(var.$color-dark-3, .5);
    z-index: 5;
    @include mixins.respond(tab-port) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @include mixins.respond(phone) {
    }
}