@use "../../sass/var";
@use "../../sass/mixins";

.calculatorWrap {
  border-right: var.$form-border;
}

.calculatorMain {
  @include mixins.respond(tab-land) {
    // flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 1.6rem;
  }
  &__group {
    cursor: pointer;
    // width: 17rem;
    padding-left: 1.8rem;
    padding-right: 0.8rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-align: center;
    border: var.$input-border;
    border-radius: 999px;
    // padding-left: 0.8rem;

    // background-color: rgba(var.$color-primary, 0.2);
  }
}

.calculatorSub {
  // width: 34.5rem;
  width: 100%;
}

.calculatorAdditional {
  label {
    width: 12rem;
  }
}
