@use "../../sass/var";
@use "../../sass/mixins";

.calculatorWrap {
  padding: var.$gap-4 var.$gap-3;
  @include mixins.flex-col;
  gap: var.$gap-2;
}

.calculatorMain {
  display: flex;
  justify-content: flex-start;
  gap: var.$gap-2;
  align-items: center;
  @include mixins.respond(tab-land) {
    flex-wrap: wrap;
  }
  &__group {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 0.4rem 0.8rem 0.4rem 1.6rem;
    border: var.$input-border;
    border-radius: 9999px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    label {
      vertical-align: middle;
      pointer-events: none;
      position: relative;
    }
  }
}

.calculatorSub {
  @include mixins.flex-col;
  gap: var.$gap-1;
  position: relative;
  overflow: hidden;
  width: 100%;
  &__input {
    position: relative;
  }
  &__group {
    @include mixins.flex-col;
    gap: var.$gap-05;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.calculatorAdditional {
  @include mixins.flex-col;
  gap: var.$gap-1;

  &__input {
    position: relative;
    background-color: red;
    display: flex;
    align-items: center;
  }
  &__group {
    display: flex;
    align-items: center;
    gap: var.$gap-1;
    label {
      width: 13rem;
    }
  }
}
