@use "../../sass/var";
@use "../../sass/mixins";

.pricing {
  overflow: hidden;
  &__container {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    gap: 3.2rem;
    align-items: start;
    @include mixins.respond(tab-port) {
      grid-template-rows: min-content 1fr;
      grid-template-columns: 1fr;
      gap: 1.6rem;
    }
  }
  &__text {
    @include mixins.flex-col;
    justify-content: center;
    align-items: flex-start;
    gap: var.$gap-1;
    @include mixins.respond(tab-port) {
      text-align: center;
      @include mixins.flex-center;
    }

    .h--3 {
      @include mixins.respond(tab-port) {
        margin-bottom: var.$gap-1;
      }
    }
    p {
      @include mixins.respond(tab-port) {
        width: 42ch;
        margin-bottom: var.$gap-3;
      }
      @include mixins.respond(phone) {
        width: 100%;
      }
    }
  }
  &__form {
    display: flex;
    justify-content: space-between;
    border-radius: 1.6rem;
    background-color: rgba(var.$color-dark-1, 0.5);
    border: var.$form-border;
    // width: 75%;
    margin: 0 auto;
    overflow: hidden;

    @include mixins.respond(phone) {
      flex-direction: column;
    }
  }
}
