@use "../sass/var";

.slide {
  background-color: var.$color-primary-3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;

  &--in {
    transform-origin: bottom;
  }
  &--out {
    transform-origin: top;
  }
}
