@use "../../sass/mixins";

.about {
  position: relative;
  @include mixins.bg-light;
  &__container {
    @include mixins.scroll-container;
  }
  &__wrap {
    @include mixins.pos-sticky;
    width: clamp(50%, 75%, 85%);
    margin: 0 auto;
    height: 100svh;
    display: flex;
    align-items: center;
  }
  &__desc {
    margin-bottom: 1.6rem;
  }
  &__text {
    display: flex;
    column-gap: 4.8rem;
    justify-content: space-between;
    @include mixins.respond(tab-port) {
      flex-direction: column;
      row-gap: 2.4rem;
    }
    .anim {
      width: 100%;
    }
  }
  &__title {
    display: block;
    text-transform: uppercase;
    font-weight: 700 !important;
  }
}
