@use "../../sass/mixins";

.about {
  position: relative;
  @include mixins.bg-light;
  &__container {
    @include mixins.scroll-container;
  }

  &__wrap {
    @include mixins.pos-sticky;
    width: clamp(50%, 75%, 95%);
    margin: 0 auto;
    height: 100svh;
    display: flex;
    align-items: center;
  }
  &__desc {
    margin-bottom: 1.6rem;
  }

  &__title {
    float: left;
    text-transform: uppercase;
    margin-top: 0.5rem;
    margin-right: 1rem;
  }
}
