@use '../../sass/var';
@use '../../sass/mixins';

.pattern {
    
    &__box {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        box-shadow: 0px 2px 10rem 0px rgba(var.$color-dark-2, 0.30) inset;
    }
}