@use '../../sass/var';
@use '../../sass/mixins';

.hero {
    min-height: 100vh;
    // height: 60.2rem;
    position: relative;
    &__wrap {
        width: 88rem;
        display: grid;
        grid-template-rows: repeat(3, min-content);
        gap: 0;
        .display:first-child {
            justify-self: start;
        }
        .display:nth-child(2) {
            justify-self: center;
        }
        .display:nth-child(3) {
            justify-self: end;
        }

        .display--xs {
            width: 17ch;
            position: absolute;
            top: 35%;
            right: 0;
            @include mixins.respond(tab-port) {
                top: 10rem;
            }
            @include mixins.respond(phone) {
                position: relative;
                top: 0;
            }
        }
    }
}
