@use "../../sass/var";
@use "../../sass/mixins";

.hero {
  height: 500rem;
  position: relative;

  &__container {
    position: sticky;
    width: 100%;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    overflow: hidden;
  }
  &__text {
    @include mixins.respond(tab-port) {
      .h--1 {
        font-size: 5.8rem;
      }
    }
    p {
      width: 36ch;
    }
  }
  &__video {
    position: relative;
    margin: 0 auto;
    width: 30rem;
    overflow: hidden;
  }
}
