@use "../../sass/var";
@use "../../sass/mixins";

.hero {
  // height: 500rem;
  height: 150rem;
  position: relative;

  &__container {
    position: sticky;
    width: 100%;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    overflow: hidden;
    padding: var.$gap-4 0;
  }
  &__text {
    padding: var.$gap-1 var.$gap-4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      margin: var.$gap-2 0;
    }
    @include mixins.respond(tab-port) {
      .h--1 {
        font-size: 4.8rem;
      }
    }
    p {
      width: 36ch;
      @include mixins.respond(tab-port) {
        width: 100%;
      }
    }
  }
  &__video {
    position: relative;
    margin: 0 auto;
    width: 16rem;
    overflow: hidden;
    video {
      vertical-align: middle;
    }
  }
}
