@use '../../sass/var';
@use '../../sass/mixins';

.services {
    &__wrap {
        position: relative;
        height: 350rem;
    }
    &__container {
        .display--md {
            width: 25ch;
            @include mixins.respond(phone) {
                width: 17ch;
            }
        }
        position: sticky;
        width: 100%;
        top: 0;
        overflow: hidden;
        height: clamp(100vh, 58rem, 60rem);
        background-color: darken(var.$color-accent, 50%);
        border-radius: 2rem;
        background-size: contain;
        margin-top: 5rem;
        @include mixins.respond(phone) {
            // min-height: 60rem;
        }
    }
    
    &__icon {
        padding: 4rem;
        position: absolute;
        left: auto;
        img {
            vertical-align: middle;
        }
        @include mixins.respond(tab-port) {
            padding: 0;
        }
        @include mixins.respond(phone) {
            display: none;
        }
    }
    &__card {
        padding: 4rem;
        position: absolute;
        right: 2rem;
        max-width: 70%;
        border-radius: 20px;
        border: 1px solid rgba(var.$color-grey, 0.20);
        background: var.$color-dark-2;

        @include mixins.respond(tab-port) {
            padding: 2.5rem;
        }
        @include mixins.respond(phone) {
            max-width: 100%;
        }
    }
}